{% props {
  href: url.required(),
  text: string.required(),
  class: string.optional(),
} %}

<a href="{{ props.href }}"{% if props.class != blank %} class="{{ props.class }}"{% endif %}>
  {{ props.text }}
</a>
