{% assign app_key = settings.yotpo_app_key %}

{% if app_key != blank %}
  <div
    data-nazare-use="snippets/c-ratings-yotpo"
    data-c-ratings-yotpo-app-key="{{ app_key | escape }}"
    hidden
  ></div>
{% endif %}
